@import "partials/vendor/materialize/materialize";

.myRed {
	@extend .red;
	@extend .darken-2;
}


.nav-wrapper {
    @extend .myRed;
}

.swiperight.two{
	position: absolute;
	background-color: yellow;
	right: -100%;
	width: 100%;
}

.swiperight.one{
	position: absolute;
	background-color: blue;
	right: -100%;
	width: 100%
}

.home {
	position: absolute;
	background-color: green;
	right: 0;
	width: 100%;
}
